openapi: 3.1.0
info:
  title: Masik Chada Operational API
  version: 1.0.0
  summary: Liveness and readiness endpoints for deployment orchestration.
  description: |
    This specification covers non-business REST endpoints used by load balancers,
    Docker healthchecks, and deployment automation. Business operations are served
    through GraphQL at `/graphql`.
servers:
  - url: https://subscription.mymentech.com
tags:
  - name: Health
    description: Runtime liveness/readiness probes.
paths:
  /health/live:
    get:
      operationId: getLiveness
      tags: [Health]
      summary: Process liveness probe.
      description: Returns `200` when process is running and event loop is responsive.
      responses:
        "200":
          description: Process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessResponse"
        "503":
          description: Process is not healthy.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /health/ready:
    get:
      operationId: getReadiness
      tags: [Health]
      summary: Dependency-aware readiness probe.
      description: Returns `200` only when API is ready to serve traffic.
      responses:
        "200":
          description: Service is ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessResponse"
        "503":
          description: Service is not ready.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessResponse"

components:
  schemas:
    LivenessResponse:
      type: object
      required: [status, service, time]
      properties:
        status:
          type: string
          enum: [ok]
        service:
          type: string
          example: masik-backend
        time:
          type: string
          format: date-time
    ReadinessResponse:
      type: object
      required: [status, service, checks, time]
      properties:
        status:
          type: string
          enum: [ready, not_ready]
        service:
          type: string
          example: masik-backend
        checks:
          type: object
          required: [db, config]
          properties:
            db:
              $ref: "#/components/schemas/DependencyCheck"
            config:
              $ref: "#/components/schemas/DependencyCheck"
            cron:
              $ref: "#/components/schemas/DependencyCheck"
        time:
          type: string
          format: date-time
    DependencyCheck:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [ok, fail]
        latencyMs:
          type: integer
          minimum: 0
    ErrorResponse:
      type: object
      required: [code, message, time]
      properties:
        code:
          type: string
          example: SERVICE_UNAVAILABLE
        message:
          type: string
        time:
          type: string
          format: date-time
